<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.lesson.webcamera">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/cctv"
        android:label=""
        android:roundIcon="@mipmap/cctv"
        android:supportsRtl="true"
        android:theme="@style/Theme.Webcamera"
        android:scrollbars="vertical">
        <activity
            android:name=".cctvActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>